MNIST_data/train-images-idx3-ubyte/train-images.idx3-ubyte
MNIST_data/train-labels-idx1-ubyte/train-labels.idx1-ubyte
OpenCV/torchvision-0.4.2-cp37-cp37m-win_amd64.whl
OpenCV/data
EMV
EMV/include
tf
tf114